@model GameCreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<p>Was created game with ID - @Model.GameId.</p>
<p>Players:</p>
@foreach (var player in Model.Players)
{
    <p>Id: @player.Id, Name: @player.Name, IsBot: @(player.IsBot ? "yes" : "no")</p>
}

@*<h2>Bots:</h2>

@for (int i = 1; i < Model.Players.Count; i++)
{
<h2>@Model.Players[i].Name:@Model.Players[i].Id</h2>
}*@